In [62]:
import pandas as pd

infra = pd.read_csv('processed_local.csv')

In [63]:
infra

,개방서비스명,개방서비스아이디,사업장명,좌표정보(x),좌표정보(y),업태구분명
0,병원,01_01_01_P,의료법인 행복한의료재단 사천중앙요양병원,299970.331817,176114.707951,요양병원(일반요양병원)
1,병원,01_01_01_P,사천동희병원,299722.420372,177131.778303,정신병원
2,병원,01_01_01_P,의료법인 삼포의료재단 현대요양병원,297272.390841,159579.149079,요양병원(일반요양병원)
3,병원,01_01_01_P,양산병원,395040.472611,213377.473805,정신병원
4,병원,01_01_01_P,프라임요양병원,337000.344450,232019.592440,요양병원(일반요양병원)
...,...,...,...,...,...,...
1333974,체력단련장업,10_42_01_P,스파르타짐,218026.646595,448919.023505,NaN
1333975,체력단련장업,10_42_01_P,군인공제회관 헬스장(241),204600.180680,443010.642203,NaN
1333976,체력단련장업,10_42_01_P,(주)스포츠아트필피트니스,190250.875092,453017.867203,NaN
1333977,체력단련장업,10_42_01_P,디앤브이 피트니스,203899.451520,443655.849953,NaN
1333978,체력단련장업,10_42_01_P,대영청소년문화진흥원(주),207531.156462,184572.389317,NaN

## 백화점 처리

In [66]:
# infra[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('신세계') | (infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '쇼핑센터') & infra['사업장명'].str.contains('신세계')] 
# infra[(infra['개방서비스명'] == '대규모점포') & infra['사업장명'].str.contains('신세계', na=False)]

infra[infra['사업장명'].str.contains('신세계백화점', na=False)]

infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('신세계'), '업태구분명'] = '백화점'
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '쇼핑센터') & infra['사업장명'].str.contains('신세계'), '업태구분명'] = '백화점'
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '복합쇼핑몰') & infra['사업장명'].str.contains('신세계'), '업태구분명'] = '백화점'

infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('신세계'), '소분류'] = '신세계'
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '쇼핑센터') & infra['사업장명'].str.contains('신세계'), '소분류'] = '신세계'
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '복합쇼핑몰') & infra['사업장명'].str.contains('신세계'), '소분류'] = '신세계'
# 

infra[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('신세계') | (infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '쇼핑센터') & infra['사업장명'].str.contains('신세계') | (infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '복합쇼핑몰') & infra['사업장명'].str.contains('신세계')]

infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('롯데백화점') | (infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '쇼핑센터') & infra['사업장명'].str.contains('롯데백화점') | (infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '복합쇼핑몰') & infra['사업장명'].str.contains('롯데백화점') | (infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('롯데쇼핑'), '업태구분명'] = '백화점'
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('롯데백화점') | (infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '쇼핑센터') & infra['사업장명'].str.contains('롯데백화점') | (infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '복합쇼핑몰') & infra['사업장명'].str.contains('롯데백화점') | (infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('롯데쇼핑'), '소분류'] = '롯데'
infra[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('롯데')]
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('현대'),'소분류']='현대'
infra[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('현대')]
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('갤러리아'),'소분류']='갤러리아'
infra[(infra['개방서비스명'] == '대규모점포') & (infra['업태구분명'] == '백화점') & infra['사업장명'].str.contains('갤러리아')]
infra.loc[(infra['개방서비스명']=='대규모점포') & (infra['업태구분명']=='백화점'),'개방서비스명'] = "백화점"

infra[(infra['개방서비스명']=='백화점') & (infra['업태구분명']=='백화점')].to_csv("백화점.csv", index=False, encoding="utf-8-sig")

,개방서비스명,개방서비스아이디,사업장명,좌표정보(x),좌표정보(y),업태구분명,소분류
1259400,대규모점포,08_25_01_P,주식회사 신세계 경기점,209514.367988,424782.528524,백화점,신세계
1259409,대규모점포,08_25_01_P,(주)신세계 의정부점,204011.301931,470564.015530,백화점,신세계
1259451,대규모점포,08_25_01_P,(주)신세계 동대구복합환승센터,347037.241970,265407.404337,백화점,신세계
1259933,대규모점포,08_25_01_P,신세계백화점,198263.908392,450960.762965,백화점,신세계
1259956,대규모점포,08_25_01_P,(주)신세계 타임스퀘어점,191581.500266,446108.807193,백화점,신세계
1259962,대규모점포,08_25_01_P,신세계백화점메사점,198129.435543,450900.239718,백화점,신세계
1260516,대규모점포,08_25_01_P,신세계백화점 강남점,200250.447805,444683.220506,백화점,신세계
1260598,대규모점포,08_25_01_P,(주)광주신세계,189004.968213,184579.553645,백화점,신세계
1260780,대규모점포,08_25_01_P,(주)신세계 센텀시티점,393952.264486,187602.933161,백화점,신세계
1260950,대규모점포,08_25_01_P,대전신세계 엑스포점,234414.007946,319679.535632,백화점,신세계
1261204,대규모점포,08_25_01_P,(주)신세계 마산점,344361.357213,192302.097201,백화점,신세계
1261429,대규모점포,08_25_01_P,신세계백화점 천안아산점,213910.850637,368774.087612,백화점,신세계
1261682,대규모점포,08_25_01_P,신세계백화점 미아점,202555.300896,456503.066230,백화점,신세계

## 주유소 처리

In [129]:
import pandas as pd

infra = pd.read_csv('processed_local.csv')

In [130]:
infra.loc[(infra['개방서비스명'].str.contains('주유소')) | (infra['개방서비스명'].str.contains('석유')), '개방서비스명']='주유소'
infra.loc[(infra['개방서비스명'].str.contains('주유소')) | (infra['개방서비스명'].str.contains('석유')), '업태구분명']='주유소'

In [131]:
infra.loc[(infra['개방서비스명']=='주유소') & (infra['사업장명'].str.contains('GS칼텍스')) | ((infra['개방서비스명']=='주유소') & (infra['사업장명'].str.contains('지에스칼텍스'))), '소분류'] ='GS'
infra.loc[(infra['개방서비스명']=='주유소') & (infra['사업장명'].str.contains('SK에너지')) | ((infra['개방서비스명']=='주유소') & (infra['사업장명'].str.contains('에스케이'))), '소분류'] ='SK'
infra.loc[(infra['개방서비스명']=='주유소') & (infra['사업장명'].str.contains('현대오일')), '소분류'] ='현대'
infra.loc[(infra['개방서비스명']=='주유소') & (infra['사업장명'].str.contains('S-OIL')), '소분류'] ='S-OIL'
infra.loc[(infra['개방서비스명']=='주유소') & (infra['사업장명'].str.contains('알뜰')), '소분류'] ='알뜰'

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\2750450329.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'GS' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  infra.loc[(infra['개방서비스명']=='주유소') & (infra['사업장명'].str.contains('GS칼텍스')) | ((infra['개방서비스명']=='주유소') & (infra['사업장명'].str.contains('지에스칼텍스'))), '소분류'] ='GS'

In [136]:
infra[(infra['개방서비스명']=='주유소')].to_csv("주유소.csv", index=False, encoding="utf-8-sig")

## 아울렛 걸러

In [266]:
import pandas as pd

infra = pd.read_csv('processed_local.csv')
pd.set_option('display.max_rows', 100)

In [267]:
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['사업장명'].str.contains('아울렛')) & (infra['사업장명'].str.contains('롯데')), '소분류']='롯데'
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['사업장명'].str.contains('아울렛')) & (infra['사업장명'].str.contains('신세계')), '소분류']='신세계'
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['사업장명'].str.contains('아울렛')) & (infra['사업장명'].str.contains('현대')), '소분류']='현대'

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\2350721027.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '롯데' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['사업장명'].str.contains('아울렛')) & (infra['사업장명'].str.contains('롯데')), '소분류']='롯데'

In [269]:
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['사업장명'].str.contains('아울렛')) & (infra['사업장명'].str.contains('롯데')), '업태구분명']='아울렛'
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['사업장명'].str.contains('아울렛')) & (infra['사업장명'].str.contains('신세계')), '업태구분명']='아울렛'
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['사업장명'].str.contains('아울렛')) & (infra['사업장명'].str.contains('현대')), '업태구분명']='아울렛'

In [270]:
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['사업장명'].str.contains('신세계')) & (infra['업태구분명'].str.contains('전문점')), '업태구분명']='아울렛'

In [271]:
infra.loc[(infra['업태구분명']=="아울렛") & (infra['소분류'].isna()), '소분류'] = '신세계'

In [272]:
infra.loc[(infra['개방서비스명'] == '대규모점포') & (infra['사업장명'].str.contains('아울렛')), '업태구분명']='아울렛'

In [273]:
infra[infra['업태구분명']=="아울렛"]

,개방서비스명,개방서비스아이디,사업장명,좌표정보(x),좌표정보(y),업태구분명,소분류
1259154,대규모점포,08_25_01_P,모다아울렛 경주보문점,406640.745856,262693.090897,아울렛,NaN
1259247,대규모점포,08_25_01_P,동아아울렛 강북점,339731.404349,271557.940207,아울렛,NaN
1259292,대규모점포,08_25_01_P,폴라렉스 아울렛,382731.210152,192059.745558,아울렛,NaN
1259336,대규모점포,08_25_01_P,뉴코아아울렛울산점,411305.368984,229038.602248,아울렛,NaN
1259388,대규모점포,08_25_01_P,(주)뉴코아아울렛 평촌점,195607.793975,431900.704085,아울렛,NaN
1259408,대규모점포,08_25_01_P,수원프리미엄아울렛,206698.825871,418302.265469,아울렛,NaN
1259412,대규모점포,08_25_01_P,롯데프리미엄아울렛 기흥점,210547.479034,413684.298427,아울렛,롯데
1259416,대규모점포,08_25_01_P,모다아울렛 B동 오산점,204020.411719,410030.536433,아울렛,NaN
1259418,대규모점포,08_25_01_P,모다아울렛 A동 오산점,204020.411719,410030.536433,아울렛,NaN
1259448,대규모점포,08_25_01_P,롯데아울렛 이시아폴리스점,347690.434441,270271.225719,아울렛,롯데
1259450,대규모점포,08_25_01_P,(주)현대백화점 현대시티아울렛 대구점,346807.086927,264654.357512,아울렛,현대
1259469,대규모점포,08_25_01_P,모다아울렛(MODAoutlet),334682.626098,260547.895904,아울렛,NaN
1259531,대규모점포,08_25_01_P,롯데쇼핑(주) 프리미엄아울렛김해점,366527.647820,188848.193746,아울렛,롯데
1259552,대규모점포,08_25_01_P,롯데쇼핑 주식회사 아울렛 군산점,176350.482489,275156.881801,아울렛,롯데
1259643,대규모점포,08_25_01_P,대백아울렛 통영점,330722.011291,152093.427869,아울렛,NaN
1259713,대규모점포,08_25_01_P,모다아울렛,279950.011011,384819.062612,아울렛,NaN
1259759,대규모점포,08_25_01_P,조아아울렛,356547.495675,260770.159858,아울렛,NaN
1259770,대규모점포,08_25_01_P,모다아울렛 김천구미점,315259.441477,295711.729369,아울렛,NaN
1259778,대규모점포,08_25_01_P,모다아울렛(MODAoutlet)순천만플라자,249664.403726,158698.469519,아울렛,NaN
1259779,대규모점포,08_25_01_P,SC아울렛,246595.819406,160387.285371,아울렛,NaN
1259781,대규모점포,08_25_01_P,뉴코아순천아울렛킴스,247589.899440,163955.515825,아울렛,NaN
1259913,대규모점포,08_25_01_P,목동시장아울렛,188117.351836,448552.989898,아울렛,NaN
1259969,대규모점포,08_25_01_P,롯데아울렛 서울역점,197229.761423,450418.159244,아울렛,롯데
1259994,대규모점포,08_25_01_P,원주 프리미엄 아울렛,284818.874361,425225.032427,아울렛,NaN
1260012,대규모점포,08_25_01_P,롯데아울렛 광주 월드컵점,188791.275962,181590.099673,아울렛,롯데
1260077,대규모점포,08_25_01_P,모다아울렛 진주1호점,300045.755291,182016.059176,아울렛,NaN
1260078,대규모점포,08_25_01_P,모다아울렛 진주2호점,300034.548208,181822.424911,아울렛,NaN
1260103,대규모점포,08_25_01_P,뉴코아아울렛인천점,173449.265309,438055.718668,아울렛,NaN
1260134,대규모점포,08_25_01_P,이천일아울렛부평점,174296.583285,443196.983816,아울렛,NaN
1260151,대규모점포,08_25_01_P,뉴코아 아울렛 광명점,189263.012222,439900.832911,아울렛,NaN
1260203,대규모점포,08_25_01_P,롯데아울렛 고양터미널점,181369.967204,460117.354561,아울렛,롯데
1260204,대규모점포,08_25_01_P,롯데아울렛 고양점,187849.019574,458589.280566,아울렛,롯데
1260223,대규모점포,08_25_01_P,뉴코아 아울렛 일산점,180259.170000,461406.410000,아울렛,NaN
1260282,대규모점포,08_25_01_P,이천일아울렛 분당점,209436.079183,427437.237500,아울렛,NaN
1260315,대규모점포,08_25_01_P,신세계프리미엄아울렛 시흥점,176568.020503,430857.327073,아울렛,신세계
1260427,대규모점포,08_25_01_P,이천일아울렛 중계점,205931.053270,459884.197208,아울렛,NaN
1260491,대규모점포,08_25_01_P,뉴코아아울렛,200576.608648,445241.898418,아울렛,NaN
1260567,대규모점포,08_25_01_P,효자프라자 웰빙아울렛,410472.448124,281473.262597,아울렛,NaN
1260580,대규모점포,08_25_01_P,모다아울렛,199319.139170,257448.484297,아울렛,NaN
1260583,대규모점포,08_25_01_P,프리미엄아울렛 골든하이,230807.123581,317037.976305,아울렛,NaN
1260589,대규모점포,08_25_01_P,평택프리미엄아울렛,206113.480157,392491.288366,아울렛,NaN
1260597,대규모점포,08_25_01_P,주식회사 광주 세정아울렛,186012.472118,183075.354821,아울렛,NaN
1260600,대규모점포,08_25_01_P,주식회사 광주세정아울렛,186012.472118,183075.354821,아울렛,NaN
1260630,대규모점포,08_25_01_P,현대프리미엄아울렛 김포점,180999.482134,455254.138222,아울렛,현대
1260633,대규모점포,08_25_01_P,현대프리미엄 아울렛 김포점 별관,180850.069343,455088.561653,아울렛,현대
1260650,대규모점포,08_25_01_P,마리오아울렛 1관,189943.234285,441784.247519,아울렛,NaN
1260651,대규모점포,08_25_01_P,롯데쇼핑(주) 아울렛 가산점,189722.178532,441920.972770,아울렛,롯데
1260662,대규모점포,08_25_01_P,마리오아울렛 3관,189759.713051,441814.115921,아울렛,NaN
1260663,대규모점포,08_25_01_P,현대아울렛,190119.463376,441716.684586,아울렛,현대
1260682,대규모점포,08_25_01_P,라붐아울렛,195703.043681,442094.085759,아울렛,NaN
1260699,대규모점포,08_25_01_P,현대프리미엄아울렛 대전점,235682.718232,324850.017801,아울렛,현대
1260705,대규모점포,08_25_01_P,현대프리미엄아울렛 SPACE1,213414.265578,457095.530042,아울렛,현대
1260744,대규모점포,08_25_01_P,해운대로데오아울렛,397589.427501,187097.471409,아울렛,NaN
1260857,대규모점포,08_25_01_P,현대백화점 프리미엄 아울렛 송도점,169690.265503,431199.593676,아울렛,현대
1260871,대규모점포,08_25_01_P,롯데 아울렛 구리점,212338.516598,456623.179060,아울렛,롯데
1260872,대규모점포,08_25_01_P,모다아울렛,210176.709339,458999.953981,아울렛,NaN
1260881,대규모점포,08_25_01_P,뉴코아 동수원아울렛,202973.410322,418262.114463,아울렛,NaN
1260885,대규모점포,08_25_01_P,북수원 패션아울렛,200590.511692,422392.384620,아울렛,NaN
1260890,대규모점포,08_25_01_P,(주)뉴코아동수원아울렛,202973.410322,418262.114463,아울렛,NaN
1260895,대규모점포,08_25_01_P,롯데쇼핑(주) 아울렛광교점,204888.855555,420476.391559,아울렛,롯데
1260962,대규모점포,08_25_01_P,롯데쇼핑(주)롯데아울렛 수완점,183530.641094,187845.528746,아울렛,롯데
1260964,대규모점포,08_25_01_P,메가아울렛,191036.225621,181532.775962,아울렛,NaN
1261018,대규모점포,08_25_01_P,뉴코아아울렛 산본점,193729.872096,428221.430500,아울렛,NaN
1261039,대규모점포,08_25_01_P,청주파비뇽아울렛,240618.093581,350373.725552,아울렛,NaN
1261230,대규모점포,08_25_01_P,뉴코아아울렛 창원점,349399.970746,194048.334676,아울렛,NaN
1261241,대규모점포,08_25_01_P,뉴코아아울렛 울산성남점,410428.963634,230775.002193,아울렛,NaN
1261260,대규모점포,08_25_01_P,이천일아울렛 천호점,211055.486156,448786.697372,아울렛,NaN
1261271,대규모점포,08_25_01_P,스타피카소 아울렛,193282.130800,450549.280167,아울렛,NaN
1261302,대규모점포,08_25_01_P,이천일 아울렛 구로점,187785.840458,443997.135870,아울렛,NaN
1261349,대규모점포,08_25_01_P,신세계사이먼,403214.458028,204878.049675,아울렛,신세계
1261351,대규모점포,08_25_01_P,힐탑 프리미엄 아울렛,403231.720542,204710.416637,아울렛,NaN
1261354,대규모점포,08_25_01_P,뉴코아 아울렛 괴정점,381751.003173,179575.519982,아울렛,NaN
1261356,대규모점포,08_25_01_P,세정아울렛부산점,380314.898570,177865.132769,아울렛,NaN
1261409,대규모점포,08_25_01_P,진장아울렛,413607.045846,233394.128240,아울렛,NaN
1261411,대규모점포,08_25_01_P,모다아울렛,413607.045846,233394.128240,아울렛,NaN
1261437,대규모점포,08_25_01_P,내포패션아울렛,179348.340999,351351.257287,아울렛,NaN
1261446,대규모점포,08_25_01_P,퍼스트빌리지 아울렛,202395.445487,377287.512013,아울렛,NaN
1261483,대규모점포,08_25_01_P,(주)신세계사이먼 파주점,173172.828879,474158.942821,아울렛,신세계
1261484,대규모점포,08_25_01_P,롯데프리미엄아울렛파주점,172931.265519,468411.848859,아울렛,롯데
1261487,대규모점포,08_25_01_P,뉴코아아울렛평택점,209947.806482,388208.048761,아울렛,NaN
1261492,대규모점포,08_25_01_P,(주)신세계사이먼 여주점,254263.945020,415664.628854,아울렛,신세계
1261498,대규모점포,08_25_01_P,이천 롯데프리미엄 아울렛,235461.813044,415640.639278,아울렛,롯데
1261561,대규모점포,08_25_01_P,(주)프리미엄아울렛,206698.825871,418302.265469,아울렛,NaN
1261637,대규모점포,08_25_01_P,뉴코아아울렛 괴정점,381751.003173,179575.519982,아울렛,NaN
1261672,대규모점포,08_25_01_P,메이드아울렛,338560.694883,261656.240623,아울렛,NaN
1261705,대규모점포,08_25_01_P,이천일아울렛 광명점,189263.012222,439900.832911,아울렛,NaN
1261706,대규모점포,08_25_01_P,프라임아울렛,188175.807512,441461.454807,아울렛,NaN
1261727,대규모점포,08_25_01_P,이천일아울렛,209435.930738,427476.184355,아울렛,NaN
1261740,대규모점포,08_25_01_P,그랜드패션아울렛,186786.622462,450297.702652,아울렛,NaN
1261751,대규모점포,08_25_01_P,광주프리미엄아울렛,186350.816423,183915.870053,아울렛,NaN
1261753,대규모점포,08_25_01_P,허브아울렛,303243.580884,324856.000399,아울렛,NaN
1261793,대규모점포,08_25_01_P,동성탑스아울렛,200985.759459,421034.427622,아울렛,NaN
1261814,대규모점포,08_25_01_P,아울렛쇼핑몰스타,410428.963634,230775.002193,아울렛,NaN
1261830,대규모점포,08_25_01_P,이천일아울렛구로점,187785.840458,443997.135870,아울렛,NaN
1261841,대규모점포,08_25_01_P,뉴코아아울렛평택점,209932.581671,388254.423734,아울렛,NaN
1261842,대규모점포,08_25_01_P,라벨라 아울렛,235115.906904,415821.770629,아울렛,NaN

In [277]:
infra[infra['업태구분명']=="아울렛"].to_csv("아울렛.csv", index=False, encoding="utf-8-sig")

In [276]:
infra.loc[infra['업태구분명']=="아울렛", '개방서비스명']='아울렛'

In [169]:
infra.loc[infra['업태구분명']=='아울렛','소분류']='신세계'

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\2613812552.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '신세계' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  infra.loc[infra['업태구분명']=='아울렛','소분류']='신세계'

## 병원거르기

In [290]:
import pandas as pd

infra = pd.read_csv('processed_local.csv')
pd.set_option('display.max_rows', 100)

In [291]:
infra[infra['개방서비스명']=="병원"].to_csv("병원.csv", index=False, encoding="utf-8-sig")

## 약국

In [282]:
import pandas as pd

infra = pd.read_csv('processed_local.csv')
pd.set_option('display.max_rows', 100)
infra.loc[infra['개방서비스명']=='약국','업태구분명'] = '약국'
infra[infra['개방서비스명']=='약국'].to_csv("약국.csv", index=False, encoding="utf-8-sig")

In [292]:
import pandas as pd

infra = pd.read_csv('processed_local.csv')

In [328]:
import pandas as pd
oliveyoung = pd.read_csv('올리브영.csv')

In [329]:
oliveyoung.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수',
       '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지'],
      dtype='object')

In [331]:
oliveyoung = oliveyoung[['개방서비스명', '개방서비스아이디', '사업장명', '좌표정보(X)', '좌표정보(Y)','업태구분명']]

In [334]:
oliveyoung['개방서비스명'] = '뷰티'
oliveyoung['업태구분명'] = '올리브영'

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\38086438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oliveyoung['개방서비스명'] = '뷰티'
C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\38086438.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oliveyoung['업태구분명'] = '올리브영'

In [338]:
oliveyoung = oliveyoung.rename(columns={'좌표정보(X)': '좌표정보(x)', '좌표정보(Y)': '좌표정보(y)'})

In [343]:
oliveyoung.to_csv("뷰티.csv", index=False, encoding="utf-8-sig")

In [407]:
movie = pd.read_csv('영화나눌거.csv', encoding='cp949')

In [408]:
movie = movie[movie['영업상태명']=='영업/정상']

In [409]:
movie = movie[['개방서비스명', '개방서비스아이디', '사업장명', '좌표정보(x)', '좌표정보(y)','업태구분명']]

In [410]:
movie['업태구분명'] = '영화'

In [411]:
movie.loc[movie['사업장명'].str.contains('메가박스'),'소분류'] = '메가박스'

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\37222619.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '메가박스' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  movie.loc[movie['사업장명'].str.contains('메가박스'),'소분류'] = '메가박스'

In [412]:
movie.loc[movie['사업장명'].str.contains('롯데'),'소분류'] = '롯데시네마'

In [413]:
movie.loc[movie['사업장명'].str.contains('CGV'),'소분류'] = 'CGV'

In [414]:
movie = movie.drop_duplicates(subset=['좌표정보(x)', '좌표정보(y)'])

In [418]:
movie['개방서비스명'] = '영화'

In [419]:
movie.to_csv('영화.csv', index=False, encoding="utf-8-sig")

In [403]:
movie[movie['사업장명'].str.contains('강남')]

     개방서비스명    개방서비스아이디             사업장명      좌표정보(x)      좌표정보(y) 업태구분명   소분류
3612     영화  03_13_02_P        CGV 강남제2관  202262.4579  444382.5423    영화   CGV
3631     영화  03_13_02_P         씨네마강남 1관  201924.4852  446086.6929    영화   NaN
3690     영화  03_13_02_P         강남비디오소극장  202039.7404  445481.8844    영화   NaN
4621     영화  03_13_02_P  메가박스중앙(주) 강남 1관  202276.9172  443970.9680    영화  메가박스

In [406]:
movie

,개방서비스명,개방서비스아이디,사업장명,좌표정보(x),좌표정보(y),업태구분명,소분류
1239,영화,03_13_02_P,CGV 광주터미널 1관,189004.9682,184579.5536,영화,CGV
1244,영화,03_13_02_P,CGV광주상무 제1관,186350.8164,183915.8701,영화,CGV
1245,영화,03_13_02_P,광주극장,191934.2551,183420.9653,영화,NaN
1246,영화,03_13_02_P,계림극장,NaN,NaN,영화,NaN
1247,영화,03_13_02_P,샤롯데관,191913.0383,183968.0199,영화,롯데시네마
...,...,...,...,...,...,...,...
4802,영화,03_13_02_P,CINE Q 하동점 1관,268271.3833,174723.3119,영화,NaN
4803,영화,03_13_02_P,CGV 제천 1관,308522.7923,403111.0675,영화,CGV
4809,영화,03_13_02_P,설성시네마 1관,261451.3538,381700.2204,영화,NaN
4811,영화,03_13_02_P,메가박스 수원 호매실점 1관,196765.9205,417424.1975,영화,메가박스
4816,영화,03_13_02_P,금산시네마 1관,244120.3425,288864.7580,영화,NaN

In [405]:
movie.to_csv("영화.csv", index=False, encoding="utf-8-sig")

In [421]:
clean = pd.read_csv('세탁소나눌거.csv', encoding='cp949')

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\2439675212.py:1: DtypeWarning: Columns (11,35) have mixed types. Specify dtype option on import or set low_memory=False.
  clean = pd.read_csv('세탁소나눌거.csv', encoding='cp949')

In [422]:
clean = clean[clean['영업상태명']=='영업/정상']

In [423]:
clean = clean[['개방서비스명', '개방서비스아이디', '사업장명', '좌표정보(x)', '좌표정보(y)','업태구분명']]

In [425]:
clean = clean.drop_duplicates(subset=['좌표정보(x)', '좌표정보(y)'])

In [427]:
clean.loc[clean['사업장명'].str.contains('세탁특공대'),'소분류'] = '세탁특공대'

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\201465569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean.loc[clean['사업장명'].str.contains('세탁특공대'),'소분류'] = '세탁특공대'
C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\201465569.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '세탁특공대' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  clean.loc[clean['사업장명'].str.contains('세탁특공대'),'소분류'] = '세탁특공대'

In [428]:
clean.loc[clean['사업장명'].str.contains('크린토피아'),'소분류'] = '크린토피아'

In [430]:
clean['개방서비스명'] = '세탁'
clean['업태구분명'] = '세탁'

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\1780091493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean['개방서비스명'] = '세탁'
C:\Users\SSAFY\AppData\Local\Temp\ipykernel_24644\1780091493.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean['업태구분명'] = '세탁'

In [432]:
clean[clean['소분류'].notna()]

,개방서비스명,개방서비스아이디,사업장명,좌표정보(x),좌표정보(y),업태구분명,소분류
183,세탁,06_20_01_P,크린토피아 대구신평지사,351743.3679,265597.9449,세탁,크린토피아
305,세탁,06_20_01_P,크린토피아동대구지사,349810.4679,266276.4438,세탁,크린토피아
449,세탁,06_20_01_P,크린토피아 연제지사,390545.0336,189396.7233,세탁,크린토피아
703,세탁,06_20_01_P,크린토피아 부평지사,176073.7793,442953.5335,세탁,크린토피아
738,세탁,06_20_01_P,(주)크린토피아서인천지사,171620.6706,451625.4689,세탁,크린토피아
...,...,...,...,...,...,...,...
20113,세탁,06_20_01_P,크린토피아,240913.1322,350496.3610,세탁,크린토피아
20305,세탁,06_20_01_P,크린토피아 고양지사,182756.1095,462421.7429,세탁,크린토피아
20324,세탁,06_20_01_P,크린토피아,172056.0313,464568.9489,세탁,크린토피아
20374,세탁,06_20_01_P,크린토피아 일산동구지사,176510.1582,463546.0353,세탁,크린토피아
20646,세탁,06_20_01_P,크린토피아코인워시인천계양3동행정복지센타점,178273.4271,451026.8771,세탁,크린토피아

In [433]:
clean.to_csv("세탁소.csv", index=False, encoding="utf-8-sig")

In [434]:
clean

      개방서비스명    개방서비스아이디         사업장명      좌표정보(x)      좌표정보(y) 업태구분명  소분류
0         세탁  06_20_01_P  VIP 스파월드(주)  192068.9921  180828.2620    세탁  NaN
1         세탁  06_20_01_P         세탁사랑  192571.4478  181683.5340    세탁  NaN
2         세탁  06_20_01_P         세탁천재  191357.5416  178560.6039    세탁  NaN
3         세탁  06_20_01_P          금호사  192540.3731  181348.7904    세탁  NaN
4         세탁  06_20_01_P          수정사  192540.6277  180641.9565    세탁  NaN
...      ...         ...          ...          ...          ...   ...  ...
20750     세탁  06_20_01_P   꼼꼼 운동화 손세탁  212244.8120  480244.5429    세탁  NaN
20751     세탁  06_20_01_P          빨래방  180848.5040  179712.5587    세탁  NaN
20752     세탁  06_20_01_P        한미세탁소  190233.3666  182627.0898    세탁  NaN
20753     세탁  06_20_01_P        세광세탁소  234476.9441  311413.4451    세탁  NaN
20754     세탁  06_20_01_P        영희네세탁  348596.6203  156271.7599    세탁  NaN

[19786 rows x 7 columns]