In [1]:
import pandas as pd

# 카드 리스트

In [18]:
cardList = pd.read_csv('filtered_credit_card_.csv')

In [26]:
cardList.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [25]:
cardList['card_id'] = cardList.loc[:, ['card_id']].astype('int')

In [43]:
cardList.isna().describe()

,card_id,card_name,card_brand,card_fee_in,card_record,card_type,card_image
count,738,738,738,738,738,738,738
unique,1,1,1,1,1,2,1
top,False,False,False,False,False,False,False
freq,738,738,738,738,738,705,738

In [45]:
cardList['card_type'].unique()

array(['VISAmastercardJCB', 'VISAmastercardAMEXUnionPay',
       'VISAmastercardUnionPay', 'VISAmastercard', 'VISA', 'VISAUnionPay',
       'AMEX', 'mastercard', 'mastercardUnionPay', 'VISAmastercardAMEX',
       'VISABCBC GlobalmastercardUnionPay', 'BCmastercard',
       'BCmastercardUnionPay', 'VISABCmastercard', 'VISABCUnionPay', nan,
       'VISAmastercardAMEXUnionPayJCB', 'mastercardJCB', 'mastercardAMEX',
       'UnionPay', 'VISAmastercardUnionPayJCB', 'JCB', 'VISAJCB',
       'mastercardUnionPayJCB', 'BC', 'BCBC Global',
       'BCBC GlobalmastercardUnionPay', 'BCBC Globalmastercard',
       'BCUnionPay', 'VISABCBC Globalmastercard', 'VISABC',
       'VISABCmastercardUnionPay', 'VISABC Global', 'BC Globalmastercard',
       'AMEXJCB', 'UnionPayJCB', 'BCJCB', 'Diners Club', 'BC Global'],
      dtype=object)

# 카드 혜택

In [33]:
cardBenefits = pd.read_csv('filtered_benefit_.csv')

In [34]:
cardBenefits.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [35]:
cardBenefits['card_id'] = cardBenefits.loc[:, ['card_id']].astype('int')

In [46]:
cardBenefits

,card_id,card_name,card_category,content,detail
0,1,신한카드 Hi-Point,소매,백화점/할인점/홈쇼핑·온라인몰 1.0~5.0% 적립,롯데/ 현대백화점 마이신한포인트 1.0~5.0% 적립\r\n- 문화센타 등 비쇼핑 ...
1,1,신한카드 Hi-Point,생활서비스,"S-OIL, 현대오일뱅크 주유 시 리터 당 60원 적립",S-OIL / 현대오일뱅크 주유 시 리터 당 60원 마이신한포인트 적립\r\n- S...
2,1,신한카드 Hi-Point,생활서비스,SK텔레콤/KT/LG U+ 이동통신요금 1.0~5.0% 적립,SK텔레콤/KT/LG U+ 이동통신요금 1.0~5.0% 적립\r\n- SK텔레콤/K...
3,2,신한카드 Love,소매,"국내 유명 백화점, 할인점, 온라인 쇼핑몰 최대 5% 할인","국내 유명 백화점, 할인점, 온라인 쇼핑몰 최대 5% 할인\r\n- 백화점 : 현대..."
4,2,신한카드 Love,음식,"국내 유명 패밀리레스토랑, 커피 20~30% 할인","유명 패밀리 레스토랑 20~30% 할인\r\n- 패밀리 레스토랑 : 아웃백, 카페마..."
...,...,...,...,...,...
1123,2565,I-PET,음식,커피 10% 할인,"커피 10% 할인\r\n- 스타벅스, 커피빈, 투썸플레이스, 폴바셋, 이디야\r\n..."
1124,2565,I-PET,소매,대형마트 5% 할인,"대형마트 5% 할인\r\n- 이마트, 롯데마트, 홈플러스\r\n- 월 최대 1만원 ..."
1125,2565,I-PET,소매,편의점 5% 할인,"편의점 5% 할인\r\n- GS25, CU, 세븐일레븐\r\n- 월 최대 5천원 할..."
1126,2567,우리동네GS 삼성카드,소매,GS25 1%/5%/10% 결제일 할인,GS25 1%/5%/10% 결제일 할인\r\n- 서비스 안내: GS25 1%/5%/...
1127,2567,우리동네GS 삼성카드,음식,커피전문점/배달앱 10% 결제일할인,커피전문점/배달앱 10% 결제일할인\r\n- 서비스안내: 커피전문점/배달앱 10% ...

In [51]:
cardBenefits['card_id'].isna().unique()

array([False])

In [52]:
# 혜택을 하나의 문자열로 합치기
bnf_detail = cardBenefits.groupby(['card_id']).agg(' ',join, )
bnf_detail

NameError: name 'join' is not defined