In [1]:
# !pip install chromadb

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./card_card.csv')

In [4]:
# df['card_in_out_3'].unique()
df.drop(['card_in_out_1', 'card_in_out_2', 'card_in_out_3', 'card_img', 'card_overseas'], axis=1, inplace=True)

In [5]:
df['card_record'].unique()

array(['전월실적 없음', '전월실적20 만원 이상', '전월실적30 만원 이상', '전월실적50 만원 이상',
       '전월실적10 만원 이상', '전월실적40 만원 이상', '전월실적15 만원 이상', '전월실적100 만원 이상',
       nan, '전월실적25 만원 이상', '전월실적5 만원 이상', '전월실적24 만원 이상', '전월실적8 만원 이상',
       '전월실적150 만원 이상', '전월실적75 만원 이상', '전월실적60 만원 이상', '전월실적200 만원 이상',
       '전월실적1 만원 이상', '전월실적70 만원 이상', '전월실적18 만원 이상', '전월실적29 만원 이상'],
      dtype=object)

In [6]:
# df[df['card_record'] == '전월실적1 만원 이상']

In [7]:
# df[df['card_record'].isna()]

In [8]:
df['card_record'] = df['card_record'].str.extract('(\d+)')

In [9]:
df['card_record'].fillna(0, inplace=True)

In [10]:
df['card_record'].unique()

array([0, '20', '30', '50', '10', '40', '15', '100', '25', '5', '24', '8',
       '150', '75', '60', '200', '1', '70', '18', '29'], dtype=object)

In [11]:
cardList = df
cardList

        id            card_name card_brand card_record
0        1        신한카드 Hi-Point       신한카드           0
1        2            신한카드 Love       신한카드          20
2        3            신한카드 Lady       신한카드          30
3        4    SK에너지 신한카드The you       신한카드          30
4        5  GS칼텍스 신한카드Dream 100       신한카드          30
...    ...                  ...        ...         ...
2380  2381           삼프로TV 하나카드       하나카드          30
2381  2382  SC제일은행-현대카드 M CHECK       현대카드           0
2382  2383  SC제일은행-현대카드 X CHECK       현대카드           0
2383  2384     네이버페이 머니 하나 체크카드       하나카드          25
2384  2385          네이버페이 쇼핑엔로카       롯데카드           0

[2385 rows x 4 columns]

## 카드 혜택 분석

In [12]:
df = pd.read_csv('./card_benefit.csv')

In [13]:
print(df['card_id'].value_counts())

1010    18
1022    17
85      17
1228    17
1027    16
        ..
194      1
195      1
196      1
2170     1
1896     1
Name: card_id, Length: 2337, dtype: int64

In [14]:
df[df['card_id'] == 1010]['bnf_detail'][5251]

'항공권 특별 우대 서비스\n- 여행포인트 공제로 최고 25% 할인\n- 동경(나리타), 북미 하와이 외 6곳\n* 비수기 공제포인트 300,000\n  * 성수기 공제포인트 300,000\n- 북미 서부, 중부, 동부, LA\n* 비수기 공제포인트 550,000\n  * 성수기 공제포인트 800,000\n- 상기 노선은 유나이티드 항공 노선에 준합니다.\n- 공제 포인트 프로그램은 2014년 12월 31일까지 적용되며, 매년 1월 1일 갱신되어 고지할 예정입니다.\n- 상기 서비스 문의 및 이용은 롯데카드 여행서비스(☎1577-8400)를 통해서만 가능합니다.'

In [15]:
grouped = df[['bnf_detail', 'card_id']]
grouped = grouped.set_index('card_id', drop=True)
# type(grouped)
grouped['bnf_detail']

card_id
1       롯데/ 현대백화점 마이신한포인트 1.0~5.0% 적립\n- 문화센타 등 비쇼핑 항목...
1       전국 가맹점 0.2~2.0% 적립\n- 국내 어디서나 이용한 일시불/할부 금액의 0...
1       S-OIL / 현대오일뱅크 주유 시 리터 당 60원 마이신한포인트 적립\n- S-O...
1       신한투자증권 CMA 결제계좌 지정 시 신판이용 금액의 0.2% 마이신한포인트 추가 ...
1       SK텔레콤/KT/LG U+ 이동통신요금 1.0~5.0% 적립\n- SK텔레콤/KT/...
                              ...
2384    네이버페이 포인트 적립 서비스 세부 사항\n- 적립된 포인트는 네이버페이 사이트에서...
2385    네이버페이 포인트 적립서비스\n구분 지난달(1일 ~ 말일) 네이버페이 쇼핑엔로카 카...
2385    장기할부 서비스\n장기할부 조건\n할부개월수 할부요율(연) 할부 이용액 상환방식\n...
2385                                                  NaN
2385    장기할부 이용 시\n- 서비스 제공횟수는 장기할부 이용 기간에 따라 12개월(12회...
Name: bnf_detail, Length: 13753, dtype: object

In [16]:
grouped['bnf_detail'].fillna('', inplace=True)
grouped['bnf_detail'].isna().unique()

array([False])

In [17]:
grouped = grouped.groupby(level=0).agg(' '.join)
grouped

                                                bnf_detail
card_id
1        롯데/ 현대백화점 마이신한포인트 1.0~5.0% 적립\n- 문화센타 등 비쇼핑 항목...
2        국내 유명 백화점, 할인점, 온라인 쇼핑몰 최대 5% 할인\n- 백화점 : 현대, ...
3        3대 백화점(롯데, 신세계, 현대) 및 롯데마트 5% 결제일 할인\n- 월 2회 통...
4        전국 SK 주유소에서 주유 시 리터당 100원 할인\n- SK 주유시 전월 신판(일...
5        전국 GS칼텍스 주유 시 리터당 100원 할인\n- 주유 할인 한도 : 월 50만원...
...                                                    ...
2381     특화서비스 청구할인\n구분 할인 대상 할인율 월 할인한도 지난달 실적\n삼프로TV ...
2382     M포인트 적립\n- 전월 이용 금액 100만원 미만 시 0.5%, 100만원 이상 ...
2383     X캐시백 적립\n- 전월 이용 금액 100만원 미만 시 0.3%, 100만원 이상 ...
2384     네이버페이 포인트 적립 서비스\n- 적립 대상: 국내/외 모든 가맹점\n- 적립률:...
2385     네이버페이 포인트 적립서비스\n구분 지난달(1일 ~ 말일) 네이버페이 쇼핑엔로카 카...

[2337 rows x 1 columns]

In [18]:
# print(grouped.loc[1, 'bnf_detail'])

In [19]:
grouped = grouped.reset_index()
grouped.columns = ['id', 'bnf_detail']
grouped

        id                                         bnf_detail
0        1  롯데/ 현대백화점 마이신한포인트 1.0~5.0% 적립\n- 문화센타 등 비쇼핑 항목...
1        2  국내 유명 백화점, 할인점, 온라인 쇼핑몰 최대 5% 할인\n- 백화점 : 현대, ...
2        3  3대 백화점(롯데, 신세계, 현대) 및 롯데마트 5% 결제일 할인\n- 월 2회 통...
3        4  전국 SK 주유소에서 주유 시 리터당 100원 할인\n- SK 주유시 전월 신판(일...
4        5  전국 GS칼텍스 주유 시 리터당 100원 할인\n- 주유 할인 한도 : 월 50만원...
...    ...                                                ...
2332  2381  특화서비스 청구할인\n구분 할인 대상 할인율 월 할인한도 지난달 실적\n삼프로TV ...
2333  2382  M포인트 적립\n- 전월 이용 금액 100만원 미만 시 0.5%, 100만원 이상 ...
2334  2383  X캐시백 적립\n- 전월 이용 금액 100만원 미만 시 0.3%, 100만원 이상 ...
2335  2384  네이버페이 포인트 적립 서비스\n- 적립 대상: 국내/외 모든 가맹점\n- 적립률:...
2336  2385  네이버페이 포인트 적립서비스\n구분 지난달(1일 ~ 말일) 네이버페이 쇼핑엔로카 카...

[2337 rows x 2 columns]

In [20]:
cardList = pd.merge(cardList, grouped)
cardList

,id,card_name,card_brand,card_record,bnf_detail
0,1,신한카드 Hi-Point,신한카드,0,롯데/ 현대백화점 마이신한포인트 1.0~5.0% 적립\n- 문화센타 등 비쇼핑 항목...
1,2,신한카드 Love,신한카드,20,"국내 유명 백화점, 할인점, 온라인 쇼핑몰 최대 5% 할인\n- 백화점 : 현대, ..."
2,3,신한카드 Lady,신한카드,30,"3대 백화점(롯데, 신세계, 현대) 및 롯데마트 5% 결제일 할인\n- 월 2회 통..."
3,4,SK에너지 신한카드The you,신한카드,30,전국 SK 주유소에서 주유 시 리터당 100원 할인\n- SK 주유시 전월 신판(일...
4,5,GS칼텍스 신한카드Dream 100,신한카드,30,전국 GS칼텍스 주유 시 리터당 100원 할인\n- 주유 할인 한도 : 월 50만원...
...,...,...,...,...,...
2332,2381,삼프로TV 하나카드,하나카드,30,특화서비스 청구할인\n구분 할인 대상 할인율 월 할인한도 지난달 실적\n삼프로TV ...
2333,2382,SC제일은행-현대카드 M CHECK,현대카드,0,"M포인트 적립\n- 전월 이용 금액 100만원 미만 시 0.5%, 100만원 이상 ..."
2334,2383,SC제일은행-현대카드 X CHECK,현대카드,0,"X캐시백 적립\n- 전월 이용 금액 100만원 미만 시 0.3%, 100만원 이상 ..."
2335,2384,네이버페이 머니 하나 체크카드,하나카드,25,네이버페이 포인트 적립 서비스\n- 적립 대상: 국내/외 모든 가맹점\n- 적립률:...
2336,2385,네이버페이 쇼핑엔로카,롯데카드,0,네이버페이 포인트 적립서비스\n구분 지난달(1일 ~ 말일) 네이버페이 쇼핑엔로카 카...

In [21]:
import chromadb

In [22]:
client = chromadb.PersistentClient(path="../data")

In [23]:
collection = client.get_or_create_collection(
    name="test"
)

In [24]:
# 데이터 준비
# 인덱스
ids = []
# 메타데이터
doc_meta = []
# 벡터로 변환 저장할 텍스트 데이터로 ChromaDB에 Embedding 데이터가 없으면 자동으로 벡터로 변환해서 저장한다고 한다. 
documents = []